{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block left_content %}

  <h2>{% trans "Sign Up" %}</h2>

  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
  {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">

    {% if field.help_text %}
      <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}

    {% csrf_token %}

    <div class="row g-3 mb-3">
      {% for field in form %}
        <div class="col-12 col-md-6">
          {% if field.help_text %}
            <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
          {% endif %}

          {{ field|attr:"class:form-control" }}

          <ul class="errors list-unstyled pl-0 mb-0">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-sm">{% trans "Sign Up" %} &raquo;</button>
        <a href="{% url 'core:index' %}" class="btn btn-secondary btn-sm float-end" role="button" ><i class="fas fa-angle-double-left fa-md"></i> Back to Smartpoet</a>
      </div>
    </div>

  </form>

{% endblock left_content %}
