{% extends "members/auth_base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block left_content %}

    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <!-- NOTIFICATIONS SECTION BEGINS HERE -->

    {% include 'core/alerts.html' %}

    <!-- NOTIFICATIONS SECTION ENDS HERE-->

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% if form.non_field_errors %}
          <div class="alert alert-danger fade show formerror" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12 col-md-8">
                {% for field in form %}
                  {% if field.help_text %}
                    <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                  {{ field|attr:"class:form-control" }}
                  <ul class="errors list-unstyled pl-0 mb-0">
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <input class="btn btn-secondary btn-sm" type="submit" value="{% trans 'Reset My Password' %}" />
            </div>
        </div>

    </form>

    <hr class="mt-4">

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    <!-- CONTACT SUPPORT BEGINS HERE -->

    {% include "account/snippets/support_button.html" %}

    <!-- CONTACT SUPPORT ENDS HERE-->


{% endblock left_content %}
