{% extends "members/auth_base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block left_content %}

    <h1>{% trans "Change Password" %}</h1>

    <!-- NOTIFICATIONS SECTION BEGINS HERE -->

    {% include 'core/alerts.html' %}

    <!-- NOTIFICATIONS SECTION ENDS HERE-->

    <p>{% trans 'Your password is now changed.' %}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'members:account' %}" class="btn btn-primary btn-sm">Proceed To Your Account</a>
    {% else %}
        <p>You have been logged out of your account after a password change.</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm">Proceed To Login</a>
    {% endif %}

{% endblock left_content %}
