{% extends "members/auth_base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block left_content %}

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
      <div class="alert alert-danger fade show formerror" role="alert">
        Reset password cannot be completed
      </div>
    {% else %}
      <p>Enter a new and strong password twice</p>
    {% endif %}

    <!-- NOTIFICATIONS SECTION BEGINS HERE -->

    {% include 'core/alerts.html' %}

    <!-- NOTIFICATIONS SECTION ENDS HERE-->

    {% if token_fail %}

        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

    {% else %}

        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% if form.non_field_errors %}
                  <div class="alert alert-danger fade show formerror" role="alert">
                    {{ form.non_field_errors }}
                  </div>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                  <div class="row mb-3">
                      <div class="col-12">

                            {% if field.help_text %}
                              <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {{ field|attr:"class:form-control" }}
                            <ul class="errors list-unstyled pl-0 mb-0">
                              {% for error in field.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>

                      </div>
                  </div>
                {% endfor %}
                <div class="row mb-3">
                    <div class="col-12">
                        <input type="submit" class="btn btn-primary btn-sm" name="action" value="{% trans 'change password' %}"/>
                    </div>
                </div>

            </form>

        {% else %}

            <p>{% trans 'Your password is now changed.' %}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'members:account' %}" class="btn btn-primary btn-sm">Proceed To Your Account</a>
            {% else %}
                <p>You have been logged out of your account after a password change.</p>
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-sm">Proceed To Login</a>
            {% endif %}

        {% endif %}

    {% endif %}

{% endblock left_content %}
