{% extends "core/layout.html" %}
{% load static %}
{% block title %}
    About
{% endblock %}
{% block content %}

  <div class="text-center py-5">
    <div class="container pt-5">
      <div class="row my-5 justify-content-center">
        <div class="col-md-9">
          <h1>Community of Smart Poets</h1>
          <p class="lead text-muted">When power corrupts, poetry cleanses, for art establishes the basic human truths which must serve as the touchstones of our judgment. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>A wonderful serenity</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us.</p>
        </div>
        <div class="col-md-6 p-3">
          <p>And then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full.</p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}