<div class="row mb-4">
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <div class="row">
        <div class="col-1 my-auto">
          <i class="fa fa-exclamation-circle fa-3x"></i>
        </div>
        <div class="col-11 my-auto">
          To fully activate your profile and <a href="{% url 'posts:postCreate' %}"><b>Create Poems</b></a>, please submit your <a href="{% url 'members:account' %}#personalInfoTab"><b>Personal Information</b></a> (All fields are required)
        </div>
      </div>
    </div>
  </div>
</div>