{% extends "members/account_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    My Account
{% endblock %}
{% block content %}

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12 pt-5">

        <!-- NOTIFICATIONS SECTION BEGINS -->

        {% include 'core/alerts.html' %}

        <!-- NOTIFICATIONS SECTION ENDS -->

        <!-- PROFILE SETUP COMPLETION NOTIFICATION BEGINS HERE -->

        {% if request.user.status == 'pending profile activation' %}

          {% include 'core/activation_alerts.html' %}

        {% endif %}

        <!-- PROFILE SETUP COMPLETION NOTIFICATION ENDS HERE -->

        <!-- PERSONAL INFORMATION SECTION BEGINS HERE -->

        <div class="accordion" id="personalInfoTab">
          <div class="accordion-item">
            <h2 class="accordion-header" id="personalInfoTabHeading">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo">
                <b>Personal Information</b>
              </button>
            </h2>
            <div id="collapseInfo" class="accordion-collapse collapse show" aria-labelledby="personalInfoTabHeading" data-bs-parent="#personalInfoTab">
              <div class="accordion-body">
                <form action="{% url 'members:personalInfo' %}" method="POST" enctype="multipart/form-data" id="personalInfoForm">
                  {% csrf_token %}
                  {% for field in pi_form %}
                    <div class="mb-3">
                      <label class="form-label" for="{{ field.id_for_label }}"><b>{{ field.label }}:</b></label>
                      <div class="d-block">
                        {% if field.help_text %}
                          <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                      </div>
                      {% if field.label == 'Region' or field.label == 'Gender' %}
                        {% render_field field class="form-select" %}
                      {% elif field.label == 'Profile image' %}
                        <span>Current Image:{% if user_object.profile_image == None %} None {% endif %}</span><br>
                        <img src="{% if user_object.profile_image %}{{ user_object.profile_image.url }}{% endif %}" width="150px" class="pb-2">
                        {{ field }}
                      {% elif field.label == 'Cover image' %}
                        <span>Current Image:{% if user_object.cover_image == None %} None {% endif %}</span><br>
                        <img src="{% if user_object.cover_image %}{{ user_object.cover_image.url }}{% endif %}" width="350px" class="pb-2 img-fluid">
                        {{ field }}
                      {% else %}
                        {{ field }}
                      {% endif %}
                      <div class="d-block">
                        <ul class="errors list-unstyled pl-0 mb-0">
                          {% for error in field.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="mb-3">
                    <input class="btn btn-dark btn-sm" id="submit" name="submit" type="submit" value="Update">
                    <a class="btn btn-primary btn-sm float-end text-white" id="editPI" role="button">Edit</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- PERSONAL INFORMATION SECTION ENDS -->

        <!-- EDUCATION HISTORY SECTION BEGINS -->

        <div class="accordion mt-5" id="educationTab">
          <div class="accordion-item">
            <h2 class="accordion-header" id="educationTabHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
                <b>Education History</b>
              </button>
            </h2>
            <div id="collapseEducation" class="accordion-collapse collapse" aria-labelledby="educationTabHeading" data-bs-parent="#educationTab">
              <div class="accordion-body">
                <form action="{% url 'members:educationHistory' %}" method="POST" id="edHistoryForm">
                  {% csrf_token %}
                  {% for field in eh_form %}
                    <div class="mb-3">
                      <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                      <div class="d-block">
                        {% if field.help_text %}
                          <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                      </div>
                      {{ field }}
                      <div class="d-block">
                        <ul class="errors list-unstyled pl-0 mb-0">
                          {% for error in field.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="mb-3">
                    <input class="btn btn-dark btn-sm" id="submit" name="submit" type="submit" value="Update">
                    <a class="btn btn-primary btn-sm float-end text-white" id="editEH" role="button">Edit</a>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- EDUCATION HISTORY SECTION ENDS -->

        <!-- SOCIAL PROFILES SECTION BEGINS HERE -->

        <div class="accordion mt-5" id="socialTab">
          <div class="accordion-item">
            <h2 class="accordion-header" id="socialTabHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial">
                <b>Social Profiles</b>
              </button>
            </h2>
            <div id="collapseSocial" class="accordion-collapse collapse" aria-labelledby="socialTabHeading" data-bs-parent="#socialTab">
              <div class="accordion-body pt-4">
                <form action="{% url 'members:socialProfile' %}" method="POST" id="socialProfileForm">
                  {% csrf_token %}
                  {% for field in sp_form %}
                    <div class="mb-4">
                      <div class="d-block">
                        {% if field.help_text %}
                          <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                      </div>
                      <div class="input-group">
                        <span class="input-group-text"><i class="{{ field.field.widget.attrs.ico }}"></i></span>
                        {{ field }}
                      </div>
                      <div class="d-block">
                        <ul class="errors list-unstyled pl-0 mb-0">
                          {% for error in field.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="mb-3">
                    <input class="btn btn-dark btn-sm" id="submit" name="submit" type="submit" value="Update">
                    <a class="btn btn-primary btn-sm float-end text-white" id="editSP" role="button">Edit</a>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- SOCIAL PROFILES SECTION ENDS HERE -->


        <!-- SECURITY DETAILS SECTION BEGINS HERE -->



        <!-- SECURITY DETAILS SECTION ENDS HERE -->

      </div>
    </div>
  </div>

{% endblock %}