{% extends "members/auth_base.html" %}
{% load static %}
{% block title %}
    Password Reset Form
{% endblock %}
{% load widget_tweaks %}
{% block content %}

<div class="row pt-5">
  <div class="p-5 col-lg-6">
    <h1>Password Reset Form</h1>
    <p class="mb-3">Please enter your new password so we can verify.</p>

    <!-- NOTIFICATIONS SECTION BEGINS HERE -->

    {% include 'core/alerts.html' %}

    <!-- NOTIFICATIONS SECTION ENDS HERE-->

    <!-- LOGIN FORM SECTION BEGINS HERE -->

    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{field|attr:"placeholder:New Password"|add_class:"form-control"}}
          <ul class="errors list-unstyled pl-0 mb-0">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% if field.help_text %}
            <small id="help_text{{ field.field.widget.attrs.id }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
      {% endfor %}

      <div class="form-group d-flex">
        <input class="btn btn-primary btn-sm mr-auto" id="submit" name="submit" type="submit" value="Reset Password">
        <a href="{% url 'members:login' %}" class="btn btn-secondary btn-sm" role="button" ><i class="fas fa-angle-double-left fa-md"></i> Back to Login </a>
      </div>

    </form>

    <!-- LOGIN FORM SECTION ENDS HERE -->

  </div>
</div>

{% endblock %}